## Importing important library

In [1]:
import os
import pandas as pd
import requests
from bs4 import BeautifulSoup

## Empty list for storing urls of all pages

In [2]:
url=[]

In [3]:
for i in range(2,51):
    url.append("http://books.toscrape.com/catalogue/page-"+str(i)+".html")

## Inserting first page url in url list

In [4]:
url.insert(0,"http://books.toscrape.com/")

In [5]:
len(url)

50

## Display urls store in url list

In [6]:
print(url)

['http://books.toscrape.com/', 'http://books.toscrape.com/catalogue/page-2.html', 'http://books.toscrape.com/catalogue/page-3.html', 'http://books.toscrape.com/catalogue/page-4.html', 'http://books.toscrape.com/catalogue/page-5.html', 'http://books.toscrape.com/catalogue/page-6.html', 'http://books.toscrape.com/catalogue/page-7.html', 'http://books.toscrape.com/catalogue/page-8.html', 'http://books.toscrape.com/catalogue/page-9.html', 'http://books.toscrape.com/catalogue/page-10.html', 'http://books.toscrape.com/catalogue/page-11.html', 'http://books.toscrape.com/catalogue/page-12.html', 'http://books.toscrape.com/catalogue/page-13.html', 'http://books.toscrape.com/catalogue/page-14.html', 'http://books.toscrape.com/catalogue/page-15.html', 'http://books.toscrape.com/catalogue/page-16.html', 'http://books.toscrape.com/catalogue/page-17.html', 'http://books.toscrape.com/catalogue/page-18.html', 'http://books.toscrape.com/catalogue/page-19.html', 'http://books.toscrape.com/catalogue/page-20.html', 'http://books.toscrape.com/catalogue/page-21.html', 'http://books.toscrape.com/catalogue/page-22.html', 'http://books.toscrape.com/catalogue/page-23.html', 'http://books.toscrape.com/catalogue/page-24.html', 'http://books.toscrape.com/catalogue/page-25.html', 'http://books.toscrape.com/catalogue/page-26.html', 'http://books.toscrape.com/catalogue/page-27.html', 'http://books.toscrape.com/catalogue/page-28.html', 'http://books.toscrape.com/catalogue/page-29.html', 'http://books.toscrape.com/catalogue/page-30.html', 'http://books.toscrape.com/catalogue/page-31.html', 'http://books.toscrape.com/catalogue/page-32.html', 'http://books.toscrape.com/catalogue/page-33.html', 'http://books.toscrape.com/catalogue/page-34.html', 'http://books.toscrape.com/catalogue/page-35.html', 'http://books.toscrape.com/catalogue/page-36.html', 'http://books.toscrape.com/catalogue/page-37.html', 'http://books.toscrape.com/catalogue/page-38.html', 'http://books.toscrape.com/catalogue/page-39.html', 'http://books.toscrape.com/catalogue/page-40.html', 'http://books.toscrape.com/catalogue/page-41.html', 'http://books.toscrape.com/catalogue/page-42.html', 'http://books.toscrape.com/catalogue/page-43.html', 'http://books.toscrape.com/catalogue/page-44.html', 'http://books.toscrape.com/catalogue/page-45.html', 'http://books.toscrape.com/catalogue/page-46.html', 'http://books.toscrape.com/catalogue/page-47.html', 'http://books.toscrape.com/catalogue/page-48.html', 'http://books.toscrape.com/catalogue/page-49.html', 'http://books.toscrape.com/catalogue/page-50.html']

## Scrape data from all pages i.e. book name , book price ,book rating ,book availability and book link

In [7]:
book_name=[]
book_price=[]
book_rating=[]
book_availability=[]
book_links=[]


for website in url:
    html_content=requests.get(website).text
    soup=BeautifulSoup(html_content)
    book_containers= soup.find_all("article", class_ = "product_pod")
    for book in book_containers:
        book_url=book.h3.a.get('href')
        if(website==url[0]):
            link="http://books.toscrape.com/"+str(book_url)
        else:    
            link="http://books.toscrape.com/catalogue/"+str(book_url)              
        name = book.h3.a.get('title')
        price = book.find('p', class_='price_color').text.strip()
        rating=book.p.get("class")[1]
        stock_info=book.find('p',class_='instock availability').text.strip()
        book_name.append(name)
        book_price.append(price)
        book_rating.append(rating)
        book_availability.append(stock_info)
        book_links.append(link)

## Dataframe containing book name , price , rating , availability and link

In [8]:
df = pd.DataFrame({
    "Name": book_name,
    "Price": book_price,
    "Rating":book_rating,
    "Availability":book_availability,
    "Link":book_links})

df.head()

,Name,Price,Rating,Availability,Link
0,A Light in the Attic,Â£51.77,Three,In stock,http://books.toscrape.com/catalogue/a-light-in...
1,Tipping the Velvet,Â£53.74,One,In stock,http://books.toscrape.com/catalogue/tipping-th...
2,Soumission,Â£50.10,One,In stock,http://books.toscrape.com/catalogue/soumission...
3,Sharp Objects,Â£47.82,Four,In stock,http://books.toscrape.com/catalogue/sharp-obje...
4,Sapiens: A Brief History of Humankind,Â£54.23,Five,In stock,http://books.toscrape.com/catalogue/sapiens-a-...

In [9]:
df.tail()

,Name,Price,Rating,Availability,Link
995,Alice in Wonderland (Alice's Adventures in Won...,Â£55.53,One,In stock,http://books.toscrape.com/catalogue/alice-in-w...
996,"Ajin: Demi-Human, Volume 1 (Ajin: Demi-Human #1)",Â£57.06,Four,In stock,http://books.toscrape.com/catalogue/ajin-demi-...
997,A Spy's Devotion (The Regency Spies of London #1),Â£16.97,Five,In stock,http://books.toscrape.com/catalogue/a-spys-dev...
998,1st to Die (Women's Murder Club #1),Â£53.98,One,In stock,http://books.toscrape.com/catalogue/1st-to-die...
999,"1,000 Places to See Before You Die",Â£26.08,Five,In stock,http://books.toscrape.com/catalogue/1000-place...

In [10]:
df.shape

(1000, 5)

## Storing data in csv format

In [11]:
df.to_csv(os.path.join("data","Scraped_data.csv"))